<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Clients List</title>
</head>
<body>


<div class="container">
    <h3>Clients</h3>

    <div class="col-md-12">
        <a th:href="@{/clients/add}" class="btn btn-primary btn-sm" >Add</a>
    </div>

    <div th:switch="clients">

        <div th:case="*">

            <table class="table">

                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">name</th>
                    <th scope="col">adress</th>
                    <th scope="col">email</th>
                    <th scope="col">credicart</th>
                    <th scope="col">phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}">

                    <th scope="row" th:text="${client.id}" ></th>
                    <td th:text="${client.name}" ></td>
                    <td th:text="${client.adress}" ></td>
                    <td th:text="${client.email}" ></td>
                    <td th:text="${client.credicard}" ></td>
                    <td th:text="${client.phone}" ></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a th:href="@{/clients/edit/{id} (id=${client.id}) }" class="btn btn-secondary btn-sm" >Edit</a>
                            <a th:href="@{/clients/delete/{id} (id=${client.id}) }" class="btn btn-danger btn-sm" >Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>


</body>
</html>
